{{> alerts}}

<h1>Welcome, {{user.username}}!</h1>

<p>Your site currency: {{user.currency}}</p>

<section class="panel panel-default">
	<div class="panel-heading">
		<h2>Your To-Do Lists</h2>
	</div>
	<div class="panel-body">
	{{#each user.ownedLists as |list|}}
		<div>
			{{#if list.pending}}
				<h3>Shared with: <a href="/lists/{{list.id}}/send">Send this list to a buddy</a></h3>
			{{else}}
				<h3>Shared with: {{list.buddy.username}}</h3>
			{{/if}}
			<ul class="list-group">
			{{#each list.ListItems as |listItem|}}
				<li class="list-group-item {{#if listItem.checked}}checkedOff{{/if}}">
					<div class="row">
						<div class="col-xs-2 col-sm-1">
							<span class="label label-danger">{{listItem.value}}</span>
						</div>
						<div class="col-xs-10 col-sm-11">
							{{listItem.description}}
						</div>
					</div>
				</li>
			{{/each}}
			</ul>
		</div>
	{{/each}}
	</div>

	<div class="panel-footer">
		<form action="/lists/new" method="GET">
			<button class="btn btn-primary">New List</button>
		</form>
	</div>
</section>

<section class="panel panel-default">
	<div class="panel-heading">
		<h2>Your Buddies' Lists</h2>
	</div>
	<div class="panel-body">
	{{#each user.buddyLists as |list|}}
		{{#if list.pending}}
		{{else}}
			<div>
				<h3>List by: {{list.owner.username}}</h3>
				<ul class="list-group">
				{{#each list.ListItems as |listItem|}}
					<li class="list-group-item {{#if listItem.checked}}checkedOff{{/if}}">
						<div class="row">
							<div class="col-xs-3 col-sm-1">
								<span class="label label-danger">{{listItem.value}}</span>
							</div>
							<div class="col-xs-6 col-sm-9">
								{{listItem.description}}
							</div>
							<div class="col-xs-3 col-sm-1">
								<form action="/lists/{{list.id}}/listitems/{{listItem.id}}" method="POST">
									<input type="hidden" name="_method" value="PATCH">
									<button class="btn btn-default" {{#if listItem.checked}}disabled{{/if}}>Check Off</button>
								</form>
						</div>
						</div>
						
					</li>
					
				{{/each}}
				</ul>
			</div>
		{{/if}}
	{{/each}}
	</div>
</section>

<section class="panel panel-default">
	<div class="panel-heading">
		<h2>List Requests</h2>
	</div>
	<div class="panel-body">
	{{#each user.buddyLists as |list|}}
		{{#if list.pending}}
			<div>
				<h3>List by: {{list.owner.username}}</h3>
				<form action="/lists/{{list.id}}/approve" method="POST">
					<input type="hidden" name="_method" value="PATCH">
					<button>Accept</button>
				<form action="/lists/{{list.id}}/reject" method="POST">
					<button>Reject</button>
				</form>
				<ul class="list-group">
				{{#each list.ListItems as |listItem|}}
					<li class="list-group-item
					{{#if listItem.checked}}checkedOff{{/if}}">
						{{listItem.description}} | {{listItem.value}}
					</li>
				{{/each}}
				</ul>
			</div>
		{{else}}	
		{{/if}}
	{{/each}}
	</div>
</section>